__pycache__
*.pyo
*.pyc
.ipynb_checkpoints
.DS_STORE
phi2/
datasets/
data/
images/
*.pkl
*.swp
catboost_info/
.mypy_cache
.venv

notebooks/.env
notebooks/qwen-2-*b/**/*
!notebooks/qwen-2-*b/.gitkeep
notebooks/bge-large/**/*
!notebooks/bge-large/.gitkeep


